a{
    text-decoration: none;
}

.fonts{
    font-family: 'Roboto', sans-serif;
    background:rgba(var(--b3f,250,250,250),1);
}
.container, .container li {
    list-style-type: none;
    background: rgba(var(--b3f,250,250,250),1);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.container ul{
    margin: -8px 0px 0px -38px;
}

.login-search{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 77px;
    box-sizing: border-box;
    padding: 23px 0px 0px 66px;
    width: 100%;
    /* position: fixed; */
    align-items: center;
    height: 80px;
    background: white;
}

.icons{
    display: inline-block;
    width: 13%;
    margin-left: 98px;
    height: 40px;

}

.instagram{
    display: block;
    width: 66%;
    margin: -33px 0px 4px 52px;
    border-left: 1px solid black;
    box-sizing: border-box;
    padding: 0px 12px;
    height: 30px;
}

.inputsearch{
    height: 28px;
    margin-right: 75px;
}

.inputsearch img {
    width:14px;
    height:14px;
    position: absolute;
    margin:6px 0px 0px 58px;
}


.search-bar{
    outline: none;
    border-radius: 4px;
    height: 21px;
    text-align: center;
    background: #fafafa;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width: 201px;
}


.button{
    background: rgba(var(--h5f,56,151,240),1);
    color: white;
    display: inline-block;
    height: 28px;
    width: 64px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 300;
    border: 1px solid transparent;
    margin-right: 10px;
}

.signup{
    display: inline-block;
    width: 64px;
    height: 28px;
    box-sizing: border-box;
    padding: 0px;
    color: rgba(var(--h5f,56,151,240),1);
}

.profile-informations{
    background: rgba(var(--b3f,250,250,250),1);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 270px;
}

.profile-image{
    width: 16%;
    margin: 60px 82px 0px 99px;
}
.profile-image img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}


.User-container{
    margin: 57px 0px 0px 0px;

}

.perfil-name{
    display: flex;
}

.perfil-name p{
    font-size: 23px;
}

.perfil-name a{
    margin: 22px 0px 0px 25px;
}

.followers-info{
    display: flex; 
    width: 11%;
}

.followers-info li a{
    color: black
}

span{
    font-weight: bolder;
}

.totalposts-tags{
    text-align: center;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid #efefef;
    display: flex;
}

.tagged{
    display: block;
    position: absolute;
    font-size: 11px;
    color: #999;
    width: 4%;
    right: 47%;
    letter-spacing: 1px;
    padding-top: 19px;
}
.tagged:focus{
    border-top: 1px solid black;
    transition: 5s;
}
.tagposts{
    color: #999;
    font-size: 11px;
    display: block;
    height: 40px;
    width: 4%;
    position: absolute;
    border-top: 1px solid black;
    left: 41%;  
    letter-spacing: 1px;
    padding-top: 19px;
}

.posts{
    display: flex;
    flex-wrap: wrap;
}

.posts a{
    display: block;
    background: red;
    width: 310px;
    height: 260px;
    margin-left: 15px;
    margin-top: 30px;
    position: relative;
} 

.posts img{
    width: 310px;
    height: 260px;

}

a:hover .transparencia{
    display: block;

} 

.transparencia{
    background: black;
    width: 309px;
    height: 261px;
    position: absolute;
    opacity: 0.3;
    display: none;
    top: 0;
    left: 0;
}


.transparencia img{
    width: 8%;
    margin: 129px 0px 0px 130px;
}
